@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    font-family: 'Bebas Neue', cursive;
}
.primary-text-color{
    color: #363958;
}
h1{
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    line-height: 96px;
    color: #FABE4C;
}